<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<!-- 
		<typeAlias type="com.spring.bms_v1.admin.member.dto.AdminDTO"   alias="AdminDTO" />
		<typeAlias type="com.spring.bms_v1.order.dto.OrderDTO"    		alias="OrderDTO" />
		<typeAlias type="com.spring.bms_v1.contact.dto.ContactDTO"      alias="ContactDTO" />
		-->
		<typeAlias type="com.application.betrende.myPage.dto.CartDTO"       				alias="CartDTO" />
		<typeAlias type="com.application.betrende.member.dto.MemberDTO"   					alias="MemberDTO" />
		<typeAlias type="com.application.betrende.seller.member.dto.SellerMemberDTO"   		alias="SellerMemberDTO" />
		<typeAlias type="com.application.betrende.product.dto.ProductDTO"					alias="ProductDTO"		/>
	</typeAliases>
	

</configuration>