<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPage">

<!-- 	<resultMap type="hashmap" id="myOrderListMap">
		<result column="ORDER_CD" 		 property="orderCd"/>
		<result column="MEMBER_ID" 		 property="memberId"/>
		<result column="ORDER_GOODS_QTY" property="orderGoodsQty"/>
		<result column="PAYMENT_AMT" 	 property="paymentAmt"/>
		<result column="PAY_ORDER_TIME"  property="payOrderTime"/>
		<result column="GOODS_CD" 		 property="goodsCd"/>
		<result column="GOODS_NM" 		 property="goodsNm"/>
		<result column="PRICE" 		 	 property="price"/>
		<result column="GOODS_FILE_NAME" property="goodsFileName"/>
	</resultMap>

	<select id="selectListMyOrder" parameterType="String" resultMap="myOrderListMap">
		SELECT
				O.ORDER_CD 		  	AS ORDER_CD,
				O.MEMBER_ID			AS MEMBER_ID,
		        O.ORDER_GOODS_QTY 	AS ORDER_GOODS_QTY,
		        O.PAYMENT_AMT 		AS PAYMENT_AMT,
		        O.PAY_ORDER_TIME  	AS PAY_ORDER_TIME,
		        G.GOODS_CD  	  	AS GOODS_CD,
		        G.GOODS_NM  	  	AS GOODS_NM,
		        G.PRICE				AS PRICE,
		        G.GOODS_FILE_NAME 	AS GOODS_FILE_NAME
		FROM
				`ORDER` O
			JOIN GOODS  G
				    ON  O.GOODS_CD = G.GOODS_CD
				   AND  O.MEMBER_ID = #{memberId}
	</select>
	
	<resultMap type="hashmap" id="myOrderDetailMap">
		<result column="ORDER_CD" 		 	property="orderCd"/>
		<result column="ORDER_GOODS_QTY" 	property="orderGoodsQty"/>
		<result column="PAYMENT_AMT" 		property="paymentAmt"/>
		<result column="ORDERER_NM"  		property="ordererNm"/>
		<result column="ORDERER_HP" 		property="ordererHp"/>
		<result column="RECEIVER_NM" 		property="receiverNm"/>
		<result column="RECEIVER_HP" 		property="receiverHp"/>
		<result column="ZIPCODE" 			property="zipcode"/>
		<result column="ROAD_ADDRESS" 		property="roadAddress"/>
		<result column="JIBUN_ADDRESS" 		property="jibunAddress"/>
		<result column="NAMUJI_ADDRESS" 	property="namujiAddress"/>
		<result column="DELIVERY_METHOD" 	property="deliveryMethod"/>
		<result column="DELIVERY_MESSAGE" 	property="deliveryMessage"/>
		<result column="GIFT_WRAPPING" 		property="giftWrapping"/>
		<result column="PAY_METHOD" 		property="payMethod"/>
		<result column="PAY_ORDERER_HP" 	property="payOrdererHp"/>
		<result column="PAY_ORDER_TIME" 	property="payOrderTime"/>
		<result column="CARD_COMPANY_NM" 	property="cardCompanyNm"/>
		<result column="CARD_PAY_MONTH" 	property="cardPayMonth"/>
		<result column="DELIVERY_STATUS" 	property="deliveryStatus"/>
		<result column="GOODS_CD" 			property="goodsCd"/>
		<result column="GOODS_NM" 			property="goodsNm"/>
		<result column="PRICE" 				property="price"/>
		<result column="DISCOUNT_RATE" 		property="discountRate"/>
		<result column="DELIVERY_PRICE" 	property="deliveryPrice"/>
		<result column="POINT" 				property="point"/>
	</resultMap>
	
  	<select id="selectOneMyOrder" parameterType="hashmap" resultMap="myOrderDetailMap">
		SELECT
				O.ORDER_CD		   AS ORDER_CD,
		        O.ORDER_GOODS_QTY  AS ORDER_GOODS_QTY,
		        O.PAYMENT_AMT 	   AS PAYMENT_AMT,
		        O.ORDERER_NM	   AS ORDERER_NM,
		        O.ORDERER_HP 	   AS ORDERER_HP,
		        O.RECEIVER_NM 	   AS RECEIVER_NM,
		        O.RECEIVER_HP 	   AS RECEIVER_HP,
		        O.ZIPCODE 		   AS ZIPCODE,
		        O.ROAD_ADDRESS     AS ROAD_ADDRESS,
		        O.JIBUN_ADDRESS    AS JIBUN_ADDRESS,
		        O.NAMUJI_ADDRESS   AS NAMUJI_ADDRESS,
		        O.DELIVERY_METHOD  AS DELIVERY_METHOD,
		        O.DELIVERY_MESSAGE AS DELIVERY_MESSAGE,
		        O.GIFT_WRAPPING    AS GIFT_WRAPPING,
		        O.PAY_METHOD 	   AS PAY_METHOD,
		        O.PAY_ORDERER_HP   AS PAY_ORDERER_HP,
		        O.PAY_ORDER_TIME   AS PAY_ORDER_TIME,
		        O.CARD_COMPANY_NM  AS CARD_COMPANY_NM,
		        O.CARD_PAY_MONTH   AS CARD_PAY_MONTH,
		        O.DELIVERY_STATUS  AS DELIVERY_STATUS,
		        G.GOODS_CD 		   AS GOODS_CD,
		        G.GOODS_NM 		   AS GOODS_NM,
		        G.PRICE 		   AS PRICE,
		        G.DISCOUNT_RATE    AS DISCOUNT_RATE,
		        G.DELIVERY_PRICE   AS DELIVERY_PRICE,
		        G.POINT 		   AS POINT
		FROM
				`ORDER` O
			JOIN MEMBER M
					 ON M.MEMBER_ID = O.MEMBER_ID
					AND M.MEMBER_ID = #{memberId}
		     JOIN GOODS G
					 ON G.GOODS_CD = O.GOODS_CD
					AND O.ORDER_CD = #{orderCd}
	</select>
	
  	<select id="selectOneMyInfo" parameterType="String" resultType="MemberDTO">
		SELECT
				*
		FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<update id="updateMyInfo" parameterType="MemberDTO">
		UPDATE 
	   			MEMBER
	   <set> 
	      <if test='memberNm != null and memberNm != ""'>
	        MEMBER_NM = #{memberNm},
	      </if>
	      <if test='passwd != null and passwd != ""'>
	        PASSWD = #{passwd},
	      </if>
	      <if test='point != null and point != ""'>
	        POINT = #{point},
	      </if>
	      <if test='sex != null and sex != ""'>
	        SEX = #{sex},
	      </if>
	      <if test='dateBirth != null and dateBirth != ""'>
	        DATE_BIRTH = #{dateBirth},
	      </if>
	      <if test='hp != null and hp != ""'>
	        HP = #{hp},
	      </if>
	      <if test='smsstsYn != null and smsstsYn != ""'>
	        SMSSTS_YN = #{smsstsYn},
	      </if>
	      <if test='email != null and email != ""'>
	        EMAIL = #{email},
	      </if>
	      <if test='emailstsYn != null and emailstsYn != ""'>
	        EMAILSTS_YN = #{emailstsYn},
	      </if>
	      <if test='zipcode != null and zipcode != ""'>
	        ZIPCODE = #{zipcode},
	      </if>
	      <if test='roadAddress != null and roadAddress != ""'>
	        ROAD_ADDRESS = #{roadAddress},
	      </if>
	      <if test='jibunAddress != null and jibunAddress != ""'>
	        JIBUN_ADDRESS = #{jibunAddress},
	      </if>
	      <if test='namujiAddress != null and namujiAddress != ""'>
	        NAMUJI_ADDRESS = #{namujiAddress},
	      </if>
	    </set>
		WHERE 
				MEMBER_ID = #{memberId}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</delete>
	
	<delete id="deleteCartListByRemoveMember" parameterType="String">
		DELETE FROM
				CART
		WHERE
				MEMBER_ID = #{memberId}
	</delete>
	
	<delete id="deleteOrderListByRemoveMember" parameterType="String">
		DELETE FROM
				`ORDER`
		WHERE
				MEMBER_ID = #{memberId}
	</delete> -->
	
	<select id="selectOneDuplicatedCart" parameterType="hashmap" resultType="CartDTO">
		SELECT
				*
		FROM
				CART
		WHERE
				MEMBER_ID = #{memberId} AND
				PRODUCT_CD = #{productCd}
	</select>
	
	<insert id="insertCart" parameterType="CartDTO">
		INSERT INTO
			CART (PRODUCT_CD,
				  CART_PRODUCT_QTY,
				  MEMBER_ID,
				  ENROLL_DT
		)
		VALUES (
				#{productCd},
				#{cartProductQty},
				#{memberId},
				NOW()
		)
	</insert>
  
   	<resultMap type="hashmap" id="cartMap">
  		<result column="CART_CD"     	  property="cartCd"/>
  		<result column="MEMBER_ID"    	  property="memberId"/>
  		<result column="CART_PRODUCT_QTY"   property="cartProductQty"/>
  		<result column="ENROLL_DT"   	  property="enrollDt"/>
  		<result column="PRODUCT_CD" 		  property="productCd"/>
  		<result column="PRODUCT_NM"   	  property="productNm"/>
  		<result column="PRICE"   	  	  property="price"/>
  		<result column="BRAND"   	 	  property="brand"/>
  		<result column="DISCOUNT_RATE"    property="discountRate"/>
  		<result column="STOCK"      	  property="stock"/>
  		<result column="PRODUCT_FILE_NAME1"  property="productFileName1"/>
  	</resultMap>
  	
  	<select id="selectListMyCart" parameterType="String" resultMap="cartMap">
		SELECT
				C.CART_CD	  	   		AS CART_CD,
				C.MEMBER_ID        		AS MEMBER_ID,
				C.CART_PRODUCT_QTY 		AS CART_PRODUCT_QTY,
				C.ENROLL_DT		   		AS ENROLL_DT,
				P.PRODUCT_CD  	   		AS PRODUCT_CD,
				P.PRODUCT_NM	   		AS PRODUCT_NM,
				P.PRICE    		   		AS PRICE,
				P.BRAND    	   	   		AS BRAND,
				P.DISCOUNT_RATE    		AS DISCOUNT_RATE,
				P.STOCK			   		AS STOCK,
				P.PRODUCT_FILE_NAME1 	AS PRODUCT_FILE_NAME1
		FROM
				CART C
		  JOIN PRODUCT P
		  		  ON C.PRODUCT_CD = P.PRODUCT_CD			
		WHERE
				C.MEMBER_ID = #{memberId}
		ORDER BY
				C.ENROLL_DT DESC
	</select>
  
  	<delete id="deleteCart" >
		
		DELETE FROM
				CART
		WHERE
				CART_CD IN 
		<foreach collection="array" item="cartCd" separator="," open="("  close=")" >
				#{cartCd}
		</foreach>
		
	</delete>
  
  	<update id="updateCartProductQty" parameterType="hashmap" >
		UPDATE
				CART
		SET
				CART_PRODUCT_QTY = #{cartQty}
		WHERE
				CART_CD = #{cartCd}
	</update> 
	
	<select id="selectCountMyCart" parameterType="String" resultType="int">
		SELECT
				COUNT(*)
		FROM
				CART
		WHERE
				MEMBER_ID = #{memberId}
	</select> 
	
</mapper>