<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seller.product">
	
	<select id="selectListProduct" parameterType="String" resultType="ProductDTO" >
		SELECT 
	   			*
	    FROM 
				PRODUCT	
		WHERE 
				SELLER_ID = #{sellerId}	       
	</select>
	
	<insert id="insertProduct" parameterType="ProductDTO">
		    INSERT INTO 
		  			PRODUCT (
						PRODUCT_NM,
					    SELLER_ID,
						PRICE,
						STOCK,
						BRAND,
						VIEWS,
						LIKES,
						CATEGORY,
						GENDER,
						DISCOUNT_RATE,
						INFO,
						COLOR,
						SIZEXSYN,
						SIZESYN,
						SIZEMYN,
						SIZELYN,
						SIZEXLYN,
						PRODUCT_FILE_NAME1,
						PRODUCT_FILE_NAME2,
						PRODUCT_FILE_NAME3,
						PRODUCT_FILE_NAME4,
						UPDATE_DT				  			
		  			)
		    VALUES (
			        #{productNm},
				    #{sellerId},
				    #{price},
					#{stock},
					#{brand},
					#{views},
					#{likes},
					#{category},
					#{gender},
					#{discountRate},
					#{info},
					#{color},
					#{sizeXsYn},
					#{sizeSYn},
					#{sizeMYn},
					#{sizeLYn},
					#{sizeXlYn},
					#{productFileName1},
					#{productFileName2},
					#{productFileName3},
					#{productFileName4},
					NOW()
 			 )
	</insert> 
	
	<update id="updateProduct" parameterType="ProductDTO" >
	   UPDATE 
	   			PRODUCT
	   <set> 
	      <if test='productNm != null and productNm != ""'>
	        PRODUCT_NM = #{productNm},
	      </if>
	      <if test='sellerId != null and sellerId != ""'>
	        SELLER_ID = #{sellerId},
	      </if>
	      <if test='price != null and price != ""'>
	        PRICE = #{price},
	      </if>
	      <if test='stock != null and stock != ""'>
	        STOCK = #{stock},
	      </if>
	      <if test='brand != null and brand != ""'>
	        BRAND = #{brand},
	      </if>
	      <if test='views != null and views != ""'>
	        VIEWS = #{views},
	      </if>
	      <if test='likes != null and likes != ""'>
	        LIKES = #{likes},
	      </if>
	      <if test='category != null and category !=""'>
	        CATEGORY = #{category},
	      </if>
	      <if test='discountRate != null and discountRate != ""'>
	        DISCOUNT_RATE = #{discountRate},
	      </if>
	      <if test='info != null and info != ""'>
	        INFO = #{info},
	      </if>
	      <if test='color != null and color != ""'>
	        COLOR = #{color},
	      </if>
	      <if test='sizeXsYn != null and sizeXsYn != ""'>
	        SIZEXSYN = #{sizeXsYn},
	      </if>
	      <if test='sizeSYn != null and sizeSYn != ""'>
	        SIZESYN = #{sizeSYn},
	      </if>
	      <if test='sizeMYn != null and sizeMYn != ""'>
	        SIZEMYN = #{sizeMYn},
	      </if>
	      <if test='sizeLYn != null and sizeLYn != ""'>
	        SIZELYN = #{sizeLYn},
	      </if>
	      <if test='sizeXlYn != null and sizeXlYn != ""'>
	        SIZEXLYN = #{sizeXlYn},
	      </if>
	      <if test='productFileName1 != null and productFileName1 != ""'>
	        PRODUCT_FILE_NAME = #{productFileName1},
	      </if>
	      <if test='productFileName2 != null and productFileName2 != ""'>
	        PRODUCT_FILE_NAME = #{productFileName2},
	      </if>
	      <if test='productFileName3 != null and productFileName3 != ""'>
	        PRODUCT_FILE_NAME = #{productFileName3},
	      </if>
	      <if test='productFileName4 != null and productFileName4 != ""'>
	        PRODUCT_FILE_NAME = #{productFileName4},
	      </if>
	    </set>
		WHERE 
				PRODUCT_CD = #{productCd}
	</update>	
		
	<delete id="deleteProduct" parameterType="int">
		DELETE FROM PRODUCT WHERE PRODUCT_CD = #{productCd}
	</delete>	
		
</mapper>
